.body {
	background-color: rgb(16, 16, 18);
    margin-bottom: 0;
    padding-bottom: 8rem;
    color: white;
}


.header {
	color: darkred;
    margin-bottom: 20px;
}


.form {
     margin-top: 30px;
}

.submit-btn {
    margin-top: 2rem;
    background-color: blue;
    border: transparent;
}